* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --bg-white: white;
  --bg-black: black;
}

:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

body {
  text-align: center;
  background-color: rgb(116, 116, 116);
}

header {
  margin: 20px;
  text-align: center;
}

input,
button {
  padding: 10px;
}

#container {
  width: 500px;
  margin: 0 auto;
}

.box {
  padding: 10px;
  background-color: white;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
